
<h1 style="text-align:center">
  <!-- {{userModel|json}}-->
 </h1>
 <div class="login">
   <h1 class="login-header">Compare potential companies</h1>
   <h4 class="login-header1">Make smart investment decision</h4>
   <form #loginForm="ngForm" class="login-container" role="form" #f="ngForm" (ngSubmit)="f.form.valid && login(userModel)">
 
    


    <table>
      <div class="panel-body">

     <tr><td> <div class="form-group">
          <label for="com1">Select Company 1</label>
          <select id="com1" name="com1"  class="form-control" [(ngModel)]="userModel.com1" required style="width: fit-content;" >
            <option value="wipro">Wipro</option>
            <option value="Hewlett Packard">Hewlett Packard</option>
            <option value="cognizant">Cognizant</option>
           
          </select>
        </div></td> 

        <div class="form-group">
    <td>   <label for="com2">Select Company 2</label>
            <select id="com2" name="com2" class="form-control" [(ngModel)]="userModel.com2" style="width: fit-content;" >
                <option value="wipro">Wipro</option>
                <option value="Hewlett Packard">Hewlett Packard</option>
                <option value="cognizant">Cognizant</option>
               
            </select>
        </td>  </div>  
        <td></td>
        </tr> 
 <tr>  <td>      <div class="form-group">
            <label for="fromdate">From Date(YYYY-MM-DD)</label><br>
            <input type="text" name="fromdate" id="fromdate" [(ngModel)]="userModel.fromdate">
          </div></td> 

      <td> <div class="form-group">
            <label for="todate">To Date(YYYY-MM-DD)</label><br>
            <input type="text" name="todate" id="todate" [(ngModel)]="userModel.todate" required>
          </div>
        </td>   
        </tr>
      </div>
    </table>

     
 
     <p>
       <input class="btn btn-primary"type="submit" value="Submit" id="btn">
     </p>
     
   </form>
 </div>



 <div>


  
<table align="center" class="table table-striped"  *ngIf="flag=='true'" >
  
    <tbody>
      <tr><th>Date</th><th>Company</th><th>Stock Price</th></tr>

      <td>
        
    
     <tr *ngFor="let j of dates1">
      <td>
          <tr><td >{{j}}</td></tr>
          
        </td>
     </tr>
     <tr *ngFor="let j of dates1">
      <td>
          <tr><td>{{j}}</td></tr>
          
        </td>
     </tr>
      
        </td>

<td>
<tr *ngFor="let c of companynameNew">
<td>
  <tr><td>{{c}}</td></tr>

</td>
</tr>
</td>
<td class="a"> 
<tr *ngFor="let d of stockpriceNew">
  <td>
  <tr><td>${{d}}</td></tr>
  </td>
</tr>
</td>

</tbody> 

</table>

 </div>